body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding: 40px 0 100px 0;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.cursor{
    cursor: pointer;
}